<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes</title>
  </head>
  <body>
    <nav style="text-decoration: none;">
      <a href="/">Foods</a> <a href="/food/create">Create Food</a>
      <a href="/ingredients">Ingredients</a> <a href="/ingredients/create">Create Ingredients</a>
    </nav>
    <%- body %>
  </body>
</html>
