<a href="/ingredients">Go Back</a>

<form method="POST" action="/ingredients/create" enctype="multipart/form-data">
  <div>
    <label>Name: </label>
    <input name="name" />
  </div>

  <div>
    <label>Image: </label>
    <input type="file" name="filetoupload" />
  </div>

  <button type="submit">Create Ingredient</button>
</form>